body {
  background-color: #d1f3de;
}

/*Game Board*/
#board {
  display: grid;
  grid-template-rows: repeat(3, 150px);
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
}

.cell {
  text-align: center;
  padding-top: 25px;
  font-size: 5em;
  color: white;
  background-color: #571032;
  border: 1px solid #b07289;
  border-radius: 7%;
}

body {
  justify-content: center;
  align-items: center;
  font-family: Avenir; 
}

#title-container {
  display: flex; 
  align-self: center;
}
